header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 30px;
  border: 1px solid black;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story .image-content {
    background-image: url(../../resources/images/img-story-main.png);
    width: 630px;
    margin-top: 0;
    font-size: 40px;
    text-align: left;
}

.season.image-content {
  background-image: url(../../resources/images/img-story-2.png);
}

.pop-culture.image-content {
  background-image: url(../../resources/images/img-story-3.png);
}

.cat-ceo.image-content {
  background-image: url(../../resources/images/img-story-1.png);
}

.image-content {
    height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
